<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529567884336-5i3q1u3fhfq4j8k490stfj8h3lun8pnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529567884336-5i3q1u3fhfq4j8k490stfj8h3lun8pnb</string>
	<key>API_KEY</key>
	<string>AIzaSyDIFOsJmSg3bvW4YToceCO7NKkQRCf-3Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>529567884336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.insta.clone.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-94c30</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-94c30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529567884336:ios:038fa52cc16cf22a8bf9f5</string>
</dict>
</plist>